@font-face {
  font-family: 'Arial';
  src: url('ArialMT.eot');
  src: local('Arial'), local('ArialMT'),
    url('ArialMT.eot?#iefix') format('embedded-opentype'),
    url('ArialMT.woff') format('woff'),
    url('ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main {
  display: block;
  width: 40%;
  margin: auto;
}

.screen {
  display: block;
  font-size: 1.2rem;
  border: solid 1px rgb(41, 71, 117);
  width: 91%;
  height: 14rem;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}
.screen:active {
  border-color: rgb(41, 71, 117);
}

.keyboard {
  display: block;
  width: 90%;
  height: 14.5rem;
  margin: auto;
  padding: 0% 1% 0% 1%;
  border-radius: 5px;
  background-color:  rgb(41, 71, 117);
}

.keyboard-row {
  display: flex;
  justify-content: space-between;
}

.key {
  display: inline-block;
  justify-self: center;
  width: 2em;
  height: 30px;
  margin: 0.8% 0.4% 0.4% 0.4%;
  text-align: center;
  font-size: 1.15rem;
  background-color: rgb(67, 117, 161);
  padding-top: 1%;
  border-radius: 4px;
  color: rgb(235, 243, 250);
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 20px;
}

.middle-key{
  width: 3em;
}

.double-key{
  width: 4em;
}

.long-key{
  width: 5em;
}

.huge-key{
  width: 15em;
  color: rgb(67, 117, 161);
}

.key:hover{
  background-color: rgb(80, 140, 192);
  cursor: pointer;
}
.huge-key:hover{
  color: rgb(80, 140, 192);
}
